<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <!-- 
    <context:property-placeholder location="classpath:/database.properties" />
     
    <context:component-scan base-package="org.codeplay" />
    -->

   <!-- Initialization for data source on Localhost -->
	   <bean id="dataSource" 
	      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	      <property name="url" value="jdbc:mysql://localhost:3306/"/>
	      <property name="username" value="root"/>
	      <property name="password" value="root"/>
	   </bean>
	
	
	<!-- Initialization for data source on Go Daddy 
	   <bean id="dataSource" 
	      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	      <property name="url" value="jdbc:mysql://166.62.27.146:3306/"/>
	      <property name="username" value="cyberparkoffers"/>
	      <property name="password" value="Helpinghands4u"/>
	   </bean>
	-->
	
	<!-- Initialization for data source on JElastic 
	   <bean id="dataSource" 
	      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	      <property name="url" value="jdbc:mysql://mysql17939-dev-codeplay.cloud.cms500.com:3306/"/>
	      <property name="username" value="root"/>
	      <property name="password" value="YXRoxi95512"/>
	   </bean>
	-->
	
   <!-- Definition for UserJDBCTemplate bean -->
   <bean id="dao" 
      class="org.codeplay.repository.DAOImpl.UserJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />    
   </bean> 
   
   <bean id="connectionFactory" 
      class="org.codeplay.repository.dbUtilities.ConnectionFactory">
      <property name="driverManagerDataSource"  ref="dataSource" />    
   </bean> 
   
   <bean id="repositoryDelegator" 
      class="org.codeplay.repository.RepositoryDelegate.RepositoryDelegator">
      <property name="dao"  ref="dao" />    
      <property name="connectionFactory"  ref="connectionFactory" />
   </bean>
   
   <bean id="serviceDelegator" 
      class="org.codeplay.service.delegateService.ServiceDelegator">
      <property name="repositoryDelegator"  ref="repositoryDelegator" />    
   </bean>  
   
   <bean id="restfulService" 
      class="org.codeplay.presentation.controller.Impl.RESTfulServiceImpl">
      <property name="serviceDelegator"  ref="serviceDelegator" />   
     
   </bean> 
      
</beans>